fastapi
uvicorn

SQLAlchemy
psycopg2-binary
pgvector
alembic

pydantic
pydantic-settings
python-dotenv
python-multipart
email-validator

PyJWT
pwdlib

openai

sentence-transformers
torch

pymupdf
pytesseract
Pillow
python-docx
filetype